{% load static %}

<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">Chi siamo</h2>
              <p>La banca offre una piattaforma online sicura per gestire le tue finanze con facilità. Il nostro team dedicato è qui per soddisfare le tue esigenze e garantire un servizio clienti di qualità. Ci impegniamo a offrirti un'esperienza bancaria trasparente ed efficiente.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Collegamenti rapidi</h2>
              <ul class="list-unstyled">
                <li><a href="#about-section" class="smoothscroll">Chi siamo</a></li>
                <li><a href="#services-section" class="smoothscroll">Servizi</a></li>
                <li><a href="#contact-section" class="smoothscroll">Contatto</a></li>
              </ul>
            </div>
           
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="footer-heading mb-4">Iscriviti alla newsletter</h2>
          <form action="#" method="post" class="footer-subscribe">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Inserire l'e-mail" aria-label="Enter Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-black" type="button" id="button-addon2">Inviare</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
           
          </div>
        </div>
        
      </div>
    </div>
  </footer>
